.pagi-btn:hover{
	color: white!important;
}
.small-font{
	font-size: 12px!important;
}
.group_order{
	width: 50px!important;
	margin-left: 25px!important;
	text-align: center;
	color: rgb(177, 175, 175)!important;
}
.group_order::placeholder{
	text-align: center;
}
